<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_PagHiperPix>
            <version>1.0.0</version>
        </UltraDev_PagHiperPix>
    </modules>

    <global>
        <models>
            <ultradev_paghiperpix>
                <class>UltraDev_PagHiperPix_Model</class>
            </ultradev_paghiperpix>
        </models>
        <blocks>
            <ultradev_paghiperpix>
                <class>UltraDev_PagHiperPix_Block</class>
            </ultradev_paghiperpix>
        </blocks>
        <helpers>
            <ultradev_paghiperpix>
                <class>UltraDev_PagHiperPix_Helper</class>
            </ultradev_paghiperpix>
        </helpers>
        <resources>
            <ultradev_paghiperpix_setup>
                <setup>
                    <module>UltraDev_PagHiperPix</module>
                </setup>
            </ultradev_paghiperpix_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <paghiperpix>
                <use>standard</use>
                <args>
                    <module>UltraDev_PagHiperPix</module>
                    <frontName>paghiperpix</frontName>
                </args>
            </paghiperpix>
        </routers>
        <layout>
            <updates>
                <ultradev_paghiperpix>
                    <file>ultradev/paghiperpix/paghiperpix.xml</file>
                </ultradev_paghiperpix>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <ultradev_paghiperpix>
                <active>1</active>
                <model>ultradev_paghiperpix/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Pix</title>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <group>offline</group>
                <days_due_date>1</days_due_date>
                <polling_interval>6</polling_interval>
            </ultradev_paghiperpix>
        </payment>
    </default>
</config>
